/node_modules

/dist
/build
/out

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vscode/

.env
.env.local
.env.*.local

.env*
*.json
node_modules/

mentorias-innovug-firebase-adminsdk.json
tools/mentorias-innovug-firebase-adminsdk.json

mentorias-proyecto-362e8a90d31e
tools/mentorias-proyecto-362e8a90d31e.json

.tools_google_tokens.json
tools/google-sa.json